<p id="notice"><%= notice %></p>

<%= link_to 'Edit', @page.edit_path %>

<h1><%= @page.page_title %></h1>

<dl>
  <% @page.attributes.each do |attribute| %>
    <dt><%= attribute.name.titleize %></dt>
    <dd><%= render attribute %></dd>
  <% end %>
</dl>
