<p id="notice"><%= notice %></p>

<%= link_to 'Edit', @presenter.edit_path %>

<h1><%= @presenter.page_title %></h1>

<dl>
  <% @presenter.attributes.each do |attr_name, attr_value| %>
    <dt><%= attr_name.to_s.titleize %></dt>
    <dd><%= attr_value %></dd>
  <% end %>
</dl>
