<table>
  <thead>
    <tr>
      <% table_presenter.attribute_names.each do |attr_name| %>
        <th><%= attr_name.to_s.titleize %></th>
      <% end %>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% resources.each do |resource| %>
      <tr class="table-row"
          role="link"
          tabindex="0"
          data-url="<%= polymorphic_path([Administrate::NAMESPACE, resource]) -%>"
          >
        <% table_presenter.attributes_for(resource).each do |attribute| %>
          <td class="field-<%= attribute.html_class %>">
            <%= render_field attribute %>
          </td>
        <% end %>

        <td><%= link_to(
          t("administrate.actions.edit"),
          [:edit, Administrate::NAMESPACE, resource],
          class: "action-edit",
        ) %></td>

        <td><%= link_to(
          t("administrate.actions.destroy"),
          [Administrate::NAMESPACE, resource],
          class: "action-destroy",
          method: :delete,
          data: { confirm: t("administrate.actions.confirm") }
        ) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
