<% content_for(:search) do %>
  <form class="search">
    <span class="search__icon">
      <%= inline_svg "administrate/search.svg" %>
    </span>
    <input
      type="text"
      name="search"
      class="search__input"
      placeholder="Search"
      value="<%= @search_term %>"
    />
    <span class="search__hint">
      Press enter to search
    </span>
  </form>
<% end %>

<header class="header">
  <h1 class="header-heading"><%= @page.resource_name.pluralize.titleize %></h1>
  <%= link_to(
    "New #{@page.resource_name.titleize.downcase}",
    [:new, Administrate::NAMESPACE, @page.resource_name],
    class: "button",
  ) %>
</header>

<%= render "table", table_presenter: @page, resources: @resources %>

<%= paginate @resources %>
