<header class="header">
  <h1 class="header-heading"><%= @page.page_title %></h1>
  <%= link_to(
    "Edit",
    [:edit, Administrate::NAMESPACE, @page.resource],
    class: "button",
  ) %>
</header>

<dl>
  <% @page.attributes.each do |attribute| %>
    <dt class="attribute-label"><%= attribute.name.titleize %></dt>

    <dd class="attribute-data--<%=attribute.html_class%>"
        ><%= render_field attribute %></dd>
  <% end %>
</dl>
